{% extends 'auctions/layout.html' %}
{% block title%}
	Watchlist
{% endblock %}
{% block body %}
	{% if user.is_authenticated and watchlist %}
	<h2 style="margin:50px;"> Listings in your watchlist:</h2>
    {% for name in watchlist %}
		<div class="container">
			<div class="row" id="listings">
				<div class="col-5">
					{% if name.image %}
						<div class="container" style="text-align: center;">
							<img src= "{{ name.image }}" alt = "content" >
						</div>
					{% else %}
						<img src= "http://kargoex.com/assets/images/no-image-available.jpg">
					{% endif %}
				</div>
				<div class="col-6 info">
					<p><a href="{% url 'listing_page' name.id %} "></p>
					<p><span style="font-weight: bold; text-transform: capitalize;"> {{ name.title }} </span><br></a></p>
					<p>Description: {{ name.description }}<br></p>
					<p>Listed by: {{ name.listedBy }}<br></p>
					<p>Created on: {{ name.createdOn|date:" d M Y H:i" }}h<br></p>
					<p>Category: {{ name.category }}<br></p>
					{% if name.bids.max %}
						<p style="margin-top: 49px;font-size:20px;"><span style="color:red;">Current price:</span> {{ name.bids.max }}$<br></p>
					{% else %}
						<p style="margin-top: 49px;font-size:20px;"><span style="color:red;">Current price:</span> {{ name.startingBid }}$<br></p>
					{% endif %}
				</div>
			</div>
		</div>
    {% endfor %}	
	{% elif user.is_authenticated and not watchlist %}
	   <h3>Your watchlist is empty.</h3>
	{% else %}
	   Please <a href="{% url 'login' %}">Sign in</a> to see your Watchlist.
	   In case you dont have account <a href="{% url 'register' %}">Register</a> here.
	{% endif %}
{% endblock %}
